@font-face {
    font-family: 'Freshman';
    src: url('../assets/Freshman.ttf');
}

* {
    font-size: 10px;
    font-family: 'Nunito', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

#content {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-image: url('../assets/football-field.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    gap: 3rem;
}

#header {
    width: 100%;
    display: grid;
    grid-template: repeat(2, auto) / repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    background: #013369;
    padding: 1rem 0 1rem 0;
}

#header img {
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
    justify-self: start;
    height: 10vh;
    width: auto;
    margin-left: 1.5rem;
}

#title, #score, #high-score {
    font-size: 6rem;
    color: #d50a0a;
    font-weight: bold;
    font-family: 'Freshman', sans-serif;
    -webkit-text-stroke: 0.04rem white;
}

#instructions {
    grid-row: 2 / span 1;
    grid-column: 1 / span 3;
    color: white;
    font-size: 2rem;
    font-weight: bold;
}

#cards {
    width: 97.5%;
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(6, 1fr);
    gap: 3rem;
}

#score-counter-container {
    grid-row: 1 / span 1;
    grid-column: 3 / span 1;
    justify-self: end;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
    margin-right: 2rem;
}

#score-counter-container span {
    font-size: 3.5rem;
    color: #d50a0a;
    font-weight: bold;
    font-family: 'Freshman', sans-serif;
    -webkit-text-stroke: 0.02rem white;
}

/* Footer styling */
#footer {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    background: #013369;
}

#footer-contents {
    font-size: 2rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

#footer-contents span {
    font-size: 2rem;
    font-weight: bold;
    color: white;
}

#footer a[target="_blank"] {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

/* GitHub footer icon styling */
.fa-github {
    color: white;
    font-size: 2.5rem;
    transition: transform 0.3s ease-in-out;
}
  
/* GitHub footer icon animation on hover */
.fa-github:hover {
    transform: rotate(360deg) scale(1.2);
}