.card {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 10px 20px;
}

.card:hover {
    transform: scale(1.03);
    cursor: pointer;
}

img {
    object-fit: cover;
    width: 100%;
    aspect-ratio: 1 / 1.1;
    border-radius: 1rem;
}

.one {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 3rem;
    gap: 1rem;
    background: #E31837;
    border-radius: 1rem;
}

.one span {
    color: white;
    font-size: 2rem;
    font-weight: bold;
}

.two {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 3rem;
    gap: 1rem;
    background: #003594;
    border-radius: 1rem;
}

.two span {
    color: #FFA300;
    font-size: 2rem;
    font-weight: bold;
}

.three {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 3rem;
    gap: 1rem;
    background: #FB4F14;
    border-radius: 1rem;
}

.three span {
    color: #000000;
    font-size: 2rem;
    font-weight: bold;
}

.four {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 3rem;
    gap: 1rem;
    background: #008E97;
    border-radius: 1rem;
}

.four span {
    color: #FC4C02;
    font-size: 2rem;
    font-weight: bold;
}

.five {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 3rem;
    gap: 1rem;
    background: #AA0000;
    border-radius: 1rem;
}

.five span {
    color: #B3995D;
    font-size: 2rem;
    font-weight: bold;
}

.six {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 3rem;
    gap: 1rem;
    background: #311D00;
    border-radius: 1rem;
}

.six span {
    color: #FF3C00;
    font-size: 2rem;
    font-weight: bold;
}

.seven {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 3rem;
    gap: 1rem;
    background: #4F2683;
    border-radius: 1rem;
}

.seven span {
    color: #FFC62F;
    font-size: 2rem;
    font-weight: bold;
}

.eight {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 3rem;
    gap: 1rem;
    background: #00338D;
    border-radius: 1rem;
}

.eight span {
    color: #C60C30;
    font-size: 2rem;
    font-weight: bold;
}

.nine {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 3rem;
    gap: 1rem;
    background: #203731;
    border-radius: 1rem;
}

.nine span {
    color: #FFB612;
    font-size: 2rem;
    font-weight: bold;
}

.ten {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 3rem;
    gap: 1rem;
    background: #FFB612;
    border-radius: 1rem;
}

.ten span {
    color: #101820;
    font-size: 2rem;
    font-weight: bold;
}

.eleven {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 3rem;
    gap: 1rem;
    background: #003594;
    border-radius: 1rem;
}

.eleven span {
    color: #FFA300;
    font-size: 2rem;
    font-weight: bold;
}

.twelve {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 3rem;
    gap: 1rem;
    background: #0C2340;
    border-radius: 1rem;
}

.twelve span {
    color: #4B92DB;
    font-size: 2rem;
    font-weight: bold;
}